:root {
  --background-primary: #000319;
  --background-primary-900: #020731;
  --background-primary-800: #181828;
  --background-primary-700: #2f2f3f;
  --background-primary-600: #464656;
  --background-primary-500: #5d5d6e;
  --background-primary-400: #747485;
  --background-primary-300: #8c8c9c;
  --background-primary-200: #a3a3b3;
  --background-primary-100: #babaca;
  --background-primary-50: #e5e5f0;

  --text-white: #fff;
  --text-primary: #f0f0f0;

  --shadow-05: rgba(255, 255, 255, 0.05);
  --shadow-10: rgba(255, 255, 255, 0.1);
  --shadow-20: rgba(255, 255, 255, 0.2);
  --shadow-30: rgba(255, 255, 255, 0.3);

  --shadow-dark-10: rgba(0, 0, 0, 0.1);
  --shadow-dark-20: rgba(0, 0, 0, 0.2);

  --text-secondary-50: #f5f7fa;
  --text-secondary-100: #e4eaf1;
  --text-secondary-200: #c9d4e3;
  --text-secondary-300: #aebed5;
  --text-secondary-400: #93a8c7;
  --text-secondary-500: #7892b9;
  --text-secondary-600: #5e7697;
  --text-secondary-700: #485b73;
  --text-secondary-800: #333f4f;
  --text-secondary-900: #1f242d;

  --text-purple-200: #9a9aff;

  --background-white-primary: #f0f0f0;
  --text-white-primary: #000319;

  --orange: #d14329;
  --red: #e7453c;
  --red-ipm-sistemas: #e7453c;
  --green: #2ecc71;

  --shadow-red: hsla(0, 84.2%, 60.2%, 0.4);

  --gradient-hover: linear-gradient(45deg, #1b2555, #202c63, #131b41, #28387f);

  --input: hsl(214.3, 31.8%, 91.4%);
  --border: hsl(214.3, 31.8%, 91.4%);
  --ring: hsl(222.2, 84%, 4.9%);
}
