#about h1 {
  font-size: 4.25rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  letter-spacing: 4px;
  padding: 1rem;
  line-height: 1;
  margin-bottom: 2rem;
  position: relative;
}

#about .about-description {
  display: flex;
  justify-content: space-between;
  font-size: 1.05rem;
  line-height: 1.4;
}

#about .about-description > p {
  width: 49%;
  color: var(--color-gray-350);
  text-align: justify;
}

#about .video-background {
  pointer-events: none;
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100dvw;
  z-index: 1;
  opacity: 0.3;
  filter: blur(3px);
}

#about .video-background video {
  pointer-events: none;
  object-position: center;
  width: 100%;
  object-fit: cover;
}

#about * {
  position: relative;
  z-index: 2;
  opacity: 1;
}

#about .about-image {
  margin: 32px auto;
  position: relative;
}

#about .about-image .photo img {
  margin: 0 auto;
  object-fit: contain;
}

#about .about-image .float {
  position: absolute;
}

#about .about-image .react {
  top: 42px;
  animation: floatSpace2 7s ease-out infinite;
  left: 25%;
}

#about .about-image .html {
  bottom: 20px;
  right: 15%;
  animation: floatSpace1 5s ease-out infinite;
}

#about .about-image .css {
  bottom: 20px;
  left: 15%;
  animation: floatSpace3 7s ease infinite;
}

#about .about-image .node {
  bottom: 145px;
  right: 20%;
  animation: floatSpace4 6s ease infinite;
}

#about .about-image .js {
  bottom: 145px;
  left: 22%;
  animation: floatSpace1 8s ease infinite;
}

#about .about-image .typescript {
  top: 30px;
  right: 27%;
  animation: floatSpace6 5s ease infinite;
}

#about .about-image .jest {
  top: 48px;
  right: 10%;
  animation: floatSpace5 7s ease-in infinite;
}

#about .about-image .php {
  top: 48px;
  left: 10%;
  animation: floatSpace3 5s ease-in infinite;
}

#about .about-image .next {
  top: 140px;
  left: 8%;
  animation: floatSpace3 5s ease-in infinite;
  border: 1px solid #ffffff63;
  border-radius: 50%;
}

#about .about-image .sass {
  top: 148px;
  right: 8%;
  animation: floatSpace3 5s ease-in infinite;
}

#about .about-image .tailwind {
  bottom: 68px;
  right: 4%;
  animation: floatSpace1 6s ease-in infinite;
}

#about .about-image .postgresql {
  bottom: 72px;
  left: 3%;
  animation: floatSpace2 6s ease-in infinite;
}

#about .about-image .git {
  bottom: 10px;
  left: 4%;
  animation: floatSpace4 7s ease-in-out infinite;
}

#about .about-image .docker {
  bottom: 10px;
  right: 4%;
  animation: floatSpace5 5s ease-in-out infinite;
}

@media (max-width: 1060px) {
  #about .video-background video {
    height: 755px;
  }
}

@media (max-width: 1005px) {
  #about .video-background video {
    height: 775px;
  }
}

@media (max-width: 990px) {
  #about .video-background video {
    height: 820px;
  }
}

@media (max-width: 910px) {
  #about .video-background video {
    height: 870px;
  }
}

@media (max-width: 910px) {
  #about .video-background video {
    height: 890px;
  }
}

@media (max-width: 768px) {
  #about .about-description {
    flex-direction: column;
  }

  #about .about-description > p {
    width: 100%;
    margin-bottom: 1rem;
  }

  #about .video-background video {
    height: 910px;
  }

  #about h1 {
    font-size: 4rem;
  }
}

@media (max-width: 690px) {
  #about .video-background video {
    height: 935px;
  }

  #about .about-image .php {
    top: 38px;
    left: 6%;
  }

  #about .about-image .react {
    top: 28px;
  }

  #about .about-image .js {
    left: 16%;
  }

  #about .about-image .next {
    top: 125px;
    left: 5%;
  }

  #about h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 610px) {
  #about .about-image .typescript {
    top: 20px;
    right: 20%;
  }
  #about .about-image .jest {
    top: 58px;
    right: 5%;
  }

  #about .about-image .sass {
    top: 158px;
    right: 5%;
  }

  #about .about-image .node {
    top: 108px;
    right: 18%;
  }
  #about .about-image .tailwind {
    bottom: 78px;
    right: 1%;
  }

  #about .about-image .html {
    bottom: 18px;
    right: 19%;
  }

  #about .about-image .react {
    left: 21%;
  }

  #about .about-image .next {
    top: 115px;
    left: 2%;
  }

  #about .about-image .js {
    top: 148px;
    left: 16%;
  }

  #about .about-image .postgresql {
    bottom: 92px;
    left: 2%;
  }

  #about .about-image .css {
    bottom: 42px;
    left: 18%;
  }

  #about h1 {
    font-size: 3rem;
  }
}

@media (max-width: 565px) {
  #about .video-background video {
    height: 975px;
  }
}

@media (max-width: 530px) {
  #about h1 {
    font-size: 2.75rem;
  }

  #about .about-image .php {
    top: 28px;
    left: 4%;
  }
}

@media (max-width: 510px) {
  #about h1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 490px) {
  #about .video-background video {
    height: 1020px;
  }
  #about .about-image .typescript {
    top: 18px;
    right: 18%;
  }

  #about .about-image .jest {
    top: 78px;
  }
}

@media (max-width: 450px) {
  #about .about-image img:not(.foto-perfil) {
    width: 40px;
    height: 40px;
  }

  #about .about-image .html {
    bottom: 44px;
  }

  #about .about-image .photo img {
    max-height: 340px;
    margin-bottom: 0;
  }

  #about h1 {
    font-size: 2rem;
  }
}

@media (max-width: 360px) {
  #about .video-background video {
    height: 1035px;
  }
}

@media (max-width: 340px) {
  #about .video-background video {
    height: 1085px;
  }
}
