#experience .experience-cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin-top: 32px;
}

#experience .experience-card {
  background: linear-gradient(
    155deg,
    var(--background-primary-900) 0%,
    var(--background-primary-700) 90%
  );
  border-radius: 15px;
  color: var(--text-white);
  width: 45%;
  box-shadow: 0 4px 15px var(--shadow-dark-20);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  z-index: 1;
}

#experience .experience-card::after {
  content: '';
  position: absolute;
  inset: -2px;
  border-radius: 16px;
  background: linear-gradient(90deg, #000080, #000040, #000080, #000040);
  background-size: 400% 400%;
  animation: rotateGradiente 3s linear infinite;
  box-shadow: 0 0 15px #050b2f, 0 0 25px #061463, 0 0 35px #030a47;
  z-index: -2;
  opacity: 0;
  transition: opacity 0.3s;
}

#experience .experience-card:hover::after {
  opacity: 1;
}

#experience .experience-card::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(45deg, #070c22, #0e1874, #121264, #0a0631);
  z-index: -1;
  border-radius: 16px;
  opacity: 0;
  transition: opacity 0.3s;
}

#experience .experience-card:hover::before {
  opacity: 1;
}

#experience .card-header {
  padding: 24px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: var(--background-white-primary);
  max-height: 80px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

#experience .card-header h2 {
  font-size: 1.2em;
}

#experience .card-job-title {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
}

#experience .card-description {
  font-size: 0.9em;
  line-height: 1.6;
  color: var(--text-secondary-200);
  margin-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  height: 220px;
}

#experience .card-achievements {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 24px;
}

#experience .card-achievement-item {
  background-color: var(--shadow-dark-10);
  border: 1px solid var(--shadow-10);
  border-radius: 8px;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 0.9em;
  color: var(--text-secondary-200);
}

#experience .card-achievement-item:hover {
  background-color: var(--shadow-dark-20);
  border-color: var(--shadow-dark-30);
  box-shadow: 0 2px 10px var(--shadow-dark-30);
  cursor: help;
}

#experience .card-achievement-item:last-child {
  margin-bottom: 0;
}

@media (max-width: 1100px) {
  #experience .experience-cards-container {
    flex-direction: column;
    align-items: center;
  }

  #experience .experience-card {
    width: 90%;
    margin-bottom: 20px;
  }

  #experience .card-description {
    height: auto;
  }
}
