#projects {
  overflow: hidden;
}

#projects .cards-container {
  position: relative;
  width: 100%;
  padding: 40px 0px;
}

#projects .cards-container .slide {
  display: flex;
  justify-content: center;
  gap: 30px;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

#projects .cards-container .card {
  background: linear-gradient(
    155deg,
    var(--color-primary-1000) 0%,
    var(--color-primary-1150) 110%
  );
  border-radius: 20px;
  width: 100%;
    flex: 1 0 25%;
  max-height: 550px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 15px var(--shadow-10);
  backdrop-filter: blur(10px);
  transition: transform 0.3s, box-shadow 0.3s;
}
#projects .cards-container .card.active,
#projects .cards-container .card:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 20px var(--color-primary-800);
}

#projects .cards-container .card .card-img {
  padding: 8px 8px 0 8px;
  max-width: 380px;
  max-height: 210px;
  overflow: hidden;
  transition: padding 0.3s;
  background-color: var(--color-gray-950);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#projects .cards-container .card .card-img:hover {
  padding: 0px;
  border-radius: 10px;
}

#projects .cards-container .card .card-img .image-project {
  max-width: 100%;
  border-radius: 10px;
  transition: transform 0.3s;
  object-fit: cover;
}

#projects .cards-container .image-project {
  transform: rotate(-2deg);
  margin-bottom: 15px;
  border-radius: 10px;
  filter: grayscale(1);
  transition: transform 0.3s, filter 0.3s;
}

#projects .cards-container .image-project:hover {
  filter: grayscale(0);
  transform: rotate(0deg);
}

#projects .cards-container .card h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px 0;
}

#projects .cards-container .card p {
  font-size: 0.9rem;
  color: var(--color-gray-300);
  margin-bottom: 20px;
  min-height: 160px;
}

#projects .cards-container .tech-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#projects .cards-container .tech-icons img {
  width: 24px;
  height: 24px;
  border-radius: 0px;
}

#projects .cards-container .card a {
  text-decoration: none;
  color: var(--color-gray-500);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s;
}

#projects .cards-container .card a:hover {
  color: var(--color-gray-0);
}

#projects .cards-container .arrow-nav {
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}

#projects .cards-container .arrow-nav button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: var(--color-gray-900);
  border: 1px solid var(--color-gray-200);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.3s;
  filter: brightness(0.5);
}

#projects .cards-container .arrow-nav button:hover {
  filter: brightness(1);
}

#projects .more-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-1100);
  padding: 8px;
  font-size: 0.9rem;
  gap: 8px;
  max-width: 180px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto;
}

#projects .more-projects:hover {
  background-color: var(--color-primary-1000);
}

@media (max-width: 895px) {
  #projects .cards-container .card {
    flex: 1 0 35%;
  }
}

@media (max-width: 814px) {
  #projects .cards-container .arrow-nav {
    opacity: 1;
    pointer-events: auto;
  }

  #projects .cards-container .cards-container {
    overflow: hidden;
  }

  #projects .cards-container .slide {
    flex-wrap: nowrap;
    justify-content: left;
    transition: transform 0.4s ease-in-out;
    gap: 35px;
    margin-left: 82px;
  }

  #projects .cards-container .slide .card {
    flex: none;
    flex-shrink: 0;
    width: 320px;
  }

  #projects .cards-container .card {
    transform: translateY(-4px);
    box-shadow: 0 5px 20px var(--color-primary-800);
  }
  #projects .cards-container .card .card-img {
    padding: 0px;
    border-radius: 10px;
  }
  #projects .cards-container .card a {
    color: var(--color-gray-100);
  }
  #projects .cards-container .image-project {
    filter: grayscale(0);
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
  #projects .cards-container .slide {
    margin-left: 55px;
  }
  #projects .cards-container .slide .card {
    width: 255px;
  }

  #projects .cards-container .card .card-img {
    max-height: 160px;
  }
}
