.header {
  padding: 1rem 2.25rem;
}

.header > .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.header > .navbar > .nav-links {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.header > .navbar > .nav-links > li {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.header > .navbar > .nav-links > li:hover {
  background: linear-gradient(125deg, #101321, #05041f, #13162d, #06091f);
  background-size: 200% 200%;
  animation: gradient 1s ease infinite;
  transition: animation 0.9s ease-in-out;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
