@import './reset.css';
@import './color.css';
@import './animation.css';

/*
 * Components
 */
@import './components/header.css';
@import './components/footer.css';

/*
* Sections
*/
@import './sections/about.css';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}

body {
  font-family: 'Work Sans', sans-serif;

  background-color: var(--background-primary);
  color: var(--text-primary);

  line-height: 1.5;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
}

.main-content {
  margin: 32px 0;
}

.main-content section {
  padding: 24px;
}

.title-content {
  color: var(--orange);
  text-transform: uppercase;
  font-size: 2.25rem;
  text-align: center;
}
