@import './globals/reset.css';
@import './globals/color.css';
@import './globals/animation.css';

/*
 * Components
 */
@import './components/header.css';
@import './components/footer.css';
@import './components/back-to-top.css';

/*
* Sections
*/
@import './sections/about.css';
@import './sections/projects.css';

:root,
html,
body {
  scroll-behavior: smooth;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}

body {
  font-family: 'Work Sans', sans-serif;

  background-color: var(--background-primary);
  color: var(--text-primary);

  line-height: 1.5;
  overflow-x: hidden !important;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
}

.main-content {
  margin: 64px 0 32px;
}

.main-content section {
  padding: 24px;
}

.title-content {
  color: var(--orange);
  text-transform: uppercase;
  font-size: 2.25rem;
  text-align: center;
}

@media (max-width: 565px) {
  .main-content {
    margin: 32px 0 16px;
  }
}
